@charset "utf-8"

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700')

@import "node_modules/bulma/bulma"

.footer
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  padding: 5px
